html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#container1 {
  position:absolute;
  width:600px;height:600px;
  transform-style:preserve-3d;
  perspective:1200px;
}
#translation {
  transform-style:preserve-3d;
  transform:translate3d(300px,300px,400px);
}
#ball {
  position:absolute;left:0px;top:0px;
  transform-style:preserve-3d;
  width:0px;height:0px;
  -webkit-animation:rot 14s linear infinite;
  animation:rot 14s linear infinite;
}
#ball>p {
  position:absolute;left:0px;top:0px;
  width:30px;height:30px;margin:-15px;
  border-radius:100%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  color:yellow;
  background:rgba(160,160,64,0.7);
  font-size: 12px;
}

@-webkit-keyframes rot {to{transform:rotateY(360deg);}}
@keyframes rot {to{transform:rotateY(360deg);}}

.swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 29px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  margin-top: 10px;
  font-size: 44px;
}

.swiper-slide .text {
  font-size: 14px;
  line-height: 18px;
}

@keyframes typing {
  from {
      width: 0;
  }
}

@keyframes blink-caret {
  from {
    border-color: #fff;
  }
  50% {
      border-color: transparent;
  }
  to {
    border-color: #f78427;
  }
}

#slide2:target .say1, #slide3:target .say1, #slide4:target .say1 {
  visibility: visible;
  font: bold 100% Consolas, Monaco, monospace;
  font-size: 14px;
  color: #fff;
  border-right: .1em solid;
  /* fallback */
  margin: 2px 1px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(30, end), /* # of steps = # of chars */
  blink-caret .5s step-end 5 forwards;
}

#slide2:target .say2, #slide3:target .say2, #slide4:target .say2 {
  visibility: visible;
  font: bold 100% Consolas, Monaco, monospace;
  font-size: 14px;
  color: #fff;
  border-right: .1em solid;
  width: 100%;
  /* fallback */
  margin: 2px 1px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s 5s steps(30, end), /* # of steps = # of chars */
  blink-caret .5s step-end 5 forwards;
}

#slide2:target .say3, #slide3:target .say3, #slide4:target .say3 {
  visibility: visible;
  font: bold 100% Consolas, Monaco, monospace;
  font-size: 14px;
  color: #fff;
  border-right: .1em solid;
  width: 80px;
  /* fallback */
  margin: 2px 1px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s 10s steps(30, end), /* # of steps = # of chars */
  blink-caret .5s step-end infinite alternate;
}

.hide {
  display: none;
}

#slide2 .say1, #slide2 .say2, #slide2 .say3, #slide3 .say1, #slide3 .say2, #slide3 .say3, #slide4 .say1, #slide4 .say2, #slide4 .say3{
  visibility: hidden;
}

.fadein {
  opacity: 0;
}

.fadein1 {
  opacity: 0;
}

#slide2:target .fadein, #slide3:target .fadein, #slide4:target .fadein {
  -webkit-animation: 3s 3s 1 fadein forwards;
  animation: 3s 3s 1 fadein forwards;
}

#slide2:target .fadein1,#slide3:target .fadein1, #slide4:target .fadein1 {
  -webkit-animation: 3s 0s 1 fadein forwards;
  animation: 3s 0s 1 fadein forwards;
}

.s1,.s2 {
  height: 0px;
  overflow: hidden;
  font-size: 16px;
}

#slide1:target .s1 {
  animation: 8s 3s 1 dropdown linear backwards alternate ;
}

#slide1:target .s2 {
  animation: 8s 11s 1 dropdown linear forwards;
}

.slide, .delayed, .delayed-children > * {
    transition: .5s;
    transition-property: transform, opacity, left, top, right, bottom, background;
}

// .slide {
//     display: none;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     font-size: 250%;
//     line-height: 1.6;
// }

.slide {
    padding: 1rem;
}

.slide:target, .slide.next {
    display: block;
    visibility: hidden;
    overflow: hidden;
}

.slide:target {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.slide:first-child {
    z-index: 2;
}

#slide5:target {
  background-position: 0 -50vh, 0 -50vh, 2.5% 50vh, 2.5% 50vh;
}

#slide5 {
  transition: 5s .5s background-position;
}

#slide5, #css-animations {
    background-color: transparent;
    background-repeat: repeat-x;
    background-image: linear-gradient(225deg, slategray 50%, transparent 50%), linear-gradient(135deg, slategray 50%, transparent 50%), linear-gradient(225deg, transparent 50%, slategray 50%), linear-gradient(135deg, transparent 50%, slategray 50%);
    background-size: 5% 100%;
    background-position: 0 0, 0 0, 2.5% 0, 2.5% 0;
}

.image.slide {
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    image-rendering: crisp-edges;
}

#slide5 > h1, #css-animations > h1 {
    background: 0;
    color: slategray;
    text-shadow: none;
}

.image.slide > .caption, .image.slide > h1:only-child {
    font-size: 120%;
}

.image.slide > .caption, .image.slide > h1:only-child {
    font-size: 100%;
    line-height: 1.2;
}

.image.slide > .caption, .image.slide > h1:only-child, .image.slide > hgroup:only-child {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    padding: .2em 0;
    margin: 0;
    margin-top: 300px;
    margin-top: calc(384px - 1em);
    margin-top: calc(50vh - 1em);
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    color: white;
    background: rgba(0,0,0,.4);
    text-shadow: 0 -.05em .1em black;
    white-space: nowrap;
}

.bg-birth {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.birth {
  background-image: url('./assets/new.jpg');
  background-size: cover;
  background-position: center center;
}

.wantsay {
  margin: 30px 0;
  font-size: 14px;
  line-height: 18px;
}

.wantsay img {
  width: 60px;
  border-radius: 100px;
  height: 60px;
}

.wantsay.right .avatar img{
  text-align: right;
  float: right;
}

.right {
  text-align: right;
}

.wantsay p {
  margin: 5px 0;
}

.wantsay.right p {
  text-align: right;
  margin: 5px 0;
}

.clearfix:before, .clearfix:after{
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.bott {
  margin-top: 130%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes dropdown {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    height: 100%;
    overflow: hidden;
  }
}

h3.lulu { 
  font: bold 100% Consolas, Monaco, monospace;
  font-size: 24px;
  border-right: .1em solid;
  width: 265px; /* fallback */
  margin: 60px 1px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end), /* # of steps = # of chars */
  blink-caret .5s step-end infinite alternate;
}



